/* css\base.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  overflow-y: hidden;
  transition: all 0.3s ease;
  font-family: var(--font-family);
  background-color: var(--primary-color-shade-8);
  color: var(--primary-color-shade-2);
  padding: var(--standard-spacing);
  line-height: 1.6;
  font-size: 1.6rem;
  gap: var(--standard-spacing);
}

p {
    text-align: center;
    width: 50%;
}

h1 {
  font-size: 3rem;
}

.navigation {
  margin-top: var(--standard-spacing);
}

.navigation .btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color-shade-3);
  color: var(--primary-color-shade-9);
  border-radius: var(--standard-border-radius);
  margin-right: var(--standard-spacing);
  text-decoration: none;
  font-weight: bold;
}

.navigation .btn:hover {
  background-color: var(--primary-color-shade-4);
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 1rem;
  font-weight: bold;
}

form input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: var(--standard-border-radius);
}

form button {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--primary-color-shade-3);
  color: var(--primary-color-shade-9);
  border-radius: var(--standard-border-radius);
  width: 50%;
  align-self: center;
  font-family: var(--font-family);
}

form button:hover {
  background-color: var(--primary-color-shade-4);
}
